.btn {
    color: white;
    font-size: min(1rem, 6vw);
    min-width: 5em;
}


.btnEnabled {
    background: darkblue;
}

.btnDisabled {
    background: lightslategray;
}

.headerText {
    text-align: center;
    font-size: min(2rem, 8vw);
}
